
.main {
  border: solid;
  border-color: black;
  margin: 10px;
  padding: 10px;
  width: 1790px;
  height: fit-content;
  display: inline-flex;
  
}
.circles{
  background-color: #85736f;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-radius: 50%;
  border: solid;
  border-color: black;
  display: inline-block;
}
.row {
  text-align: center;
  margin-top: 10px;
  height: 40px;
  
}
.principal {
  background-color: #854435d5;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-style: solid;
  border-radius: 10%;
  border-color: black;
  padding: 20px;
  width: fit-content;
}
.principal .row {
  width: 260px;
}
.principal .circles {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.secundaria {
  background-color: #85584eb2;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-style: solid;
  border-radius: 7%;
  border-color: black;
  width: fit-content;
  margin-left: 5px;
  padding: 20px;
}
.secundaria .row {
  width: 100px;
}
.secundaria .circles {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
}
.tablero {
  display: inline-flex;
  width: fit-content;
  text-align: center;
  margin-left: 350px;
}

.reglas {
  width: 300px;
  margin-left: 50px;
}
.rulestext{
  text-align: justify;
  width: 300px;
}

h1 {
  text-align: center;
}
.panelderecho{
  display: grid;
  width: 300px;
  margin-left: 300px;
  
}
.combinacion {
  background-color: #3a2622;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  width: fit-content;
  margin-left: 5px;
  padding: 20px;
  height: fit-content;
  align-self: end;
}
.combinacion .row {
  width: 260px;
}
.combinacion .circles {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.colors {
  width: fit-content;
  margin-left: 5px;
  padding: 20px;
  height: fit-content;
  align-self: center;
}
.colors .row {
  width: 260px;
}
.colors .circles {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.red{
  background-color: red;
  background-image: none;
}
.yellow{
  background-color: yellow;
  background-image: none;
}
.green{
  background-color: rgb(30, 255, 0);
  background-image: none;
}
.blue{
  background-color: blue;
  background-image: none;
}
.orange{
  background-color: rgb(255, 153, 0);
  background-image: none;
}
.black{
  background-color: black;
  background-image: none;
}
.white{
  background-color: #ffffff;
  background-image: none;
}