
.topInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 800px;
  margin-top: 0%;
  position: absolute;
  top: 1px;
}
.turn{
  font-family: 'Arial', sans-serif;
  color: #140086;
  font-size: 3.5em;
  text-align: right;
  text-shadow: 0px 2px 4px #43647a;
  font-size: 27px;

}
.participantes{
  display: grid;
  grid-template-columns: auto auto; 
  grid-template-rows: auto auto;
  column-gap: 30px;
  border: 3px solid #020100;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}
.botones{
  display: grid;
  grid-template-columns: auto auto; 
  gap: 25px;
}
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  min-width: 100px;
  
}
h1 {
  font-family: 'Arial', sans-serif;
  color: #4a4a4a;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
h2 {
  font-family: 'Arial', sans-serif;
  color: #383737;
  font-size: 3.5em;
  text-align: center;
  text-shadow: 0px 2px 4px #3f3f3f;
  font-size: 27px;
}
.Description h3{
  
  font-family: 'Arial', sans-serif;
  color: #383737;
  text-align: center;
  font-size: 17px;
  width: 900px;
  
}
.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
.main {
  border: solid;
  border-color: black;
  margin: 10px;
  padding: 10px;
  width: 1790px;
  height: fit-content;
  display: inline-flex;
  
}
.circles{
  background-color: #85736f;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-radius: 50%;
  border: solid;
  border-color: black;
  display: inline-block;
}

.row {
  text-align: center;
  margin-top: 10px;
  height: 40px;
  
}
.principal {
  background-color: #854435d5;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-style: solid;
  border-radius: 10%;
  border-color: black;
  padding: 20px;
  width: fit-content;
}
.principal .row {
  width: 260px;
}
.principal .circles {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.secundaria {
  background-color: #85584eb2;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-style: solid;
  border-radius: 7%;
  border-color: black;
  width: fit-content;
  margin-left: 5px;
  padding: 20px;
}
.secundaria .row {
  width: 100px;
}
.secundaria .circles {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
}
.tablero {
  display: inline-flex;
  width: fit-content;
  text-align: center;
  margin-left: 350px;
}

.reglas {
  width: 300px;
  margin-left: 50px;
}
.rulestext{
  text-align: justify;
  width: 300px;
}

h1 {
  text-align: center;
}
.panelIzq{
  width: 300px;
  justify-items: center;
}
.panelderecho{
  display: grid;
  width: 300px;
  margin-left: 300px;
  align-items: center;
  justify-items: center;

}
.combinacion {
  background-color: #3a2622;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  width: fit-content;
  margin-left: 5px;
  padding: 20px;
  height: fit-content;
  align-self: end;
}
.combinacion .row {
  width: 260px;
}
.combinacion .circles {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.colors {
  width: fit-content;
  margin-left: 5px;
  padding: 20px;
  height: fit-content;
  align-self: center;
}
.colors .row {
  width: 260px;
  padding-bottom: 60px;
}
.colors .circles {
  width: 30px;
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
}
.circles.selected {
  width: 70px; /* Aumenta el ancho */
  height: 70px; /* Aumenta la altura */
}
.red{
  background-color: red;
  background-image: none;
}
.yellow{
  background-color: yellow;
  background-image: none;
}
.green{
  background-color: rgb(30, 255, 0);
  background-image: none;
}
.blue{
  background-color: blue;
  background-image: none;
}
.orange{
  background-color: rgb(255, 153, 0);
  background-image: none;
}
.black{
  background-color: black;
  background-image: none;
}
.white{
  background-color: #ffffff;
  background-image: none;
}
.clear{
  background-color: #3a2622;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  display: inline-block;
}
.connection {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.disconnection {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.Description{
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.Description button {
  width: 350px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 10px;

}

.Description button:hover {
  background-color: #0056b3;
}