/* register.css */

.register-form {
    width: 300px;
    margin: 0 auto;
}
.register-form input, .register-form button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}